Repository PIVX-Labs/MyPIVXWallet, pull requests merged in 2023-12, with the labels that each got.

#267 [BUG] Fix unlock system
  scripts/dashboard/Dashboard.vue
Labels: Bug

#277 [TEST] Add unit tests for CreateWallet
  scripts/dashboard/CreateWallet.vue
  tests/components/CreateWallet.test.js
Labels: Test

#279 [TEST] Add unit tests for AccessWallet
  scripts/dashboard/AccessWallet.vue
  tests/components/AccessWallet.test.js
Labels: Test

#276 Add new languages
  locale/cnr/translation.toml
  locale/de/translation.toml
  locale/en/translation.toml
  locale/es-mx/translation.toml
  locale/fr/translation.toml
  locale/it/translation.toml
  locale/nl/translation.toml
  locale/ph/translation.toml
  locale/pl/translation.toml
  locale/pt/translation.toml
  locale/template/translation.toml
  locale/uwu/translation.toml
  scripts/i18n.js
  scripts/settings.js
Labels: Enhancement

#280 [TEST] Add unit tests for ExportPrivKey
  scripts/dashboard/ExportPrivKey.vue
  tests/components/ExportPrivKey.test.js
Labels: Test

#281 [TEST] Add unit tests for GenKeyWarning
  scripts/dashboard/Dashboard.vue
  scripts/dashboard/GenKeyWarning.vue
  tests/components/GenKeyWarning.test.js
Labels: Test

#283 [TEST] Unit tests for Login component
  scripts/dashboard/CreateWallet.vue
  scripts/dashboard/Login.vue
  tests/components/CreateWallet.test.js
  tests/components/Login.test.js
Labels: Test

#282 [TEST] Add unit tests for VanityGen
  scripts/dashboard/VanityGen.vue
  tests/components/VanityGen.test.js
Labels: Test

#268 Add immature balance to UI
  locale/de/translation.toml
  locale/en/translation.toml
  locale/es-mx/translation.toml
  locale/fr/translation.toml
  locale/it/translation.toml
  locale/nl/translation.toml
  locale/ph/translation.toml
  locale/pt-br/translation.toml
  locale/pt-pt/translation.toml
  locale/template/translation.toml
  locale/uwu/translation.toml
  scripts/charting.js
  scripts/composables/use_wallet.js
  scripts/dashboard/Dashboard.vue
  scripts/dashboard/WalletBalance.vue
  scripts/mempool.js
Labels: Enhancement

#285 Add database tests
  package-lock.json
  package.json
  scripts/database.js
  tests/unit/database.spec.js
Labels: Bug, Test
