Repository PIVX-Labs/MyPIVXWallet, pull requests merged in 2025-03, with the labels that each got.

#539 Fix e2e test for forks
  .github/workflows/e2e.yaml
Labels: safe-to-e2e-test

#543 Local events
  scripts/composables/use_wallet.js
  scripts/dashboard/Activity.vue
  scripts/dashboard/Dashboard.vue
  scripts/dashboard/WalletBalance.vue
  scripts/event_bus.js
  scripts/mempool.js
  scripts/sapling_params.js
  scripts/wallet.js
Labels: Cleanup, safe-to-e2e-test

#544 BIP-21 QR Scanner Fixes
  scripts/dashboard/Dashboard.vue
  scripts/misc.js
Labels: Bug

#534 Add new Form component to Proposal form
  locale/cnr/translation.toml
  locale/de/translation.toml
  locale/en/translation.toml
  locale/es-mx/translation.toml
  locale/fr/translation.toml
  locale/hi/translation.toml
  locale/it/translation.toml
  locale/nl/translation.toml
  locale/ph/translation.toml
  locale/pl/translation.toml
  locale/pt-br/translation.toml
  locale/pt-pt/translation.toml
  locale/template/translation.toml
  locale/uwu/translation.toml
  scripts/form/Form.vue
  scripts/form/Input.vue
  scripts/form/NumericInput.vue
  scripts/governance/ProposalCreateModal.vue
  tests/components/governance/ProposalCreateModal.spec.js
Labels: Enhancement, safe-to-e2e-test
